.i01d {
    content: url("https://openweathermap.org/img/w/01d.png");
}
.i01n {
    content: url("https://openweathermap.org/img/w/01n.png");
}
.i02d {
    content: url("https://openweathermap.org/img/w/02d.png");
}
.i02n {
    content: url("https://openweathermap.org/img/w/02n.png");
}
.i03d {
    content: url("https://openweathermap.org/img/w/03d.png");
}
.i03n {
    content: url("https://openweathermap.org/img/w/03n.png");
}
.i04d {
    content: url("https://openweathermap.org/img/w/04d.png");
}
.i04n {
    content: url("https://openweathermap.org/img/w/04n.png");
}
.i09d {
    content: url("https://openweathermap.org/img/w/09d.png");
}
.i09n {
    content: url("https://openweathermap.org/img/w/09n.png");
}
.i10d {
    content: url("https://openweathermap.org/img/w/10d.png");
}
.i10n {
    content: url("https://openweathermap.org/img/w/10n.png");
}
.i11d {
    content: url("https://openweathermap.org/img/w/11d.png");
}
.i11n {
    content: url("https://openweathermap.org/img/w/11n.png");
}
.i13d {
    content: url("https://openweathermap.org/img/w/13d.png");
}
.i13n {
    content: url("https://openweathermap.org/img/w/13n.png");
}
.i50d {
    content: url("https://openweathermap.org/img/w/50d.png");
}
.i50n {
    content: url("https://openweathermap.org/img/w/50n.png");
}